html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, a {
  border: 0;
}

html, body {
  height: 100%;
}

button{
  background-color: transparent;
  border: none; outline: none;
  cursor: pointer;
}

:root{
  --red: #FF1510;
  --lightRed: #FDECEC;
  --lightGreen: #E7F6E7;

  --gray: #404040;
  --mediumGray: #8C8C8C;
  --lightGray: #B9B9B9;
}

*{
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}

.container{
  max-width: 1200px;
  padding: 0 1%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.hero{
  padding: 1rem 0
}

.hero h1{
  font-size: 2rem;
  color: var(--gray);
  margin-bottom: 0.8rem;

}

.hero p{
  color: var(--mediumGray);
  margin-bottom: 2rem;
}

.searchForm{
  padding: 1rem;
  border-radius: 3rem;
  background-color: var(--lightRed);
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

.searchForm button{
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  transition: 0.2s;
  margin: 0;
  padding: 0;
  margin-right: 0.8rem;
}

.searchForm button:hover{
  transform: scale(1.1);
}

.searchForm button img{
  margin-bottom: -4px;
}

.searchForm input{
  width: calc(100% - 2.8rem);
  height: 1.5rem;
  border: none; outline: none;
  background-color: transparent;
  display: inline-block;
  margin: auto;
  color: var(--red);
}

.searchForm input::placeholder{
  color: #fa7b7b;
}

.filter{
  padding: 1rem 0;
}

.filter .container{
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}

.filter p{
  color: var(--lightGray);
  font-size: 1.1rem;
  width: 40%;
  text-align: left;
}

.filter div{
  display: flex;
  align-items: center;
  gap: 12px;
}

.filter div img{
  height: 1.5rem;
  object-fit: contain;
  object-position: center;
}

.filter div span{
  color: var(--red);
  font-size: 14px;
}

.filter div button{
  display: flex;
  align-items: center;
}

.filter div button img{
  transition: 0.2s;
}

.filter div button{
  padding: 0;
}

.filter #favorite{
  margin-left: 12px;
  gap: 8px;
}

.filter #favorite img{
  height: 14px;
}

.listSection .container{
}

.listSection .list{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem auto;
}

.listSection .card{
  box-sizing: border-box;
  width: 50%;
  padding: 1%;
}

.listSection .card > img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-position: center;
  object-fit: cover;
  border-bottom: 8px solid var(--red);
}

.listSection .card .card_content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.listSection .card .card_content p{
  text-align: left;
  font-weight: 600;
}

.listSection .card .card_content button img{
  width: 25px; height: 25px;
}

@media screen and (min-width:1024px){
  .listSection .card{
    width: 25%;
  }
}

.footer{
  background-color: var(--red);
  width: 100%;
  padding: 2rem 0;
}

.headerPersonagem .container{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
}

.headerPersonagem a{
  display: inline-flex;
}

.headerPersonagem .searchForm{
  margin: 0 0.8rem;
  width: 90%;
}

.personagem_conteudo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.personagem_imagem{
  width: 100%;
  position: relative;
}

.personagem_imagem img{
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}

.personagem_conteudo__titulo{
  display: flex;
  justify-content: space-between;
  gap:0.5rem;
  align-items: center;
  margin: 1rem 0;
}

.personagem_conteudo__titulo h1{
  font-size: 1.8rem;
}
.personagem_conteudo__titulo button{
  padding: 0;
  height: 2rem;
}
.personagem_conteudo__titulo button img{
  height: 2rem;
}

.personagem_conteudo__detalhes{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin: 1.2rem 0;
}

.personagem_conteudo__detalhes div{
  display: flex;
  flex-wrap: wrap;
}

.personagem_conteudo__detalhes div.rating{
  width: 100%;
}

.personagem_conteudo__detalhes div img{
  height: 1.2rem;
  width: auto;
  object-fit: contain;
  margin: 0 0.6rem;
}

.personagem_conteudo__detalhes div p{
  width: 100%;
  margin-bottom: 0.6rem;
  font-weight: 700;
}

.personagem_conteudo__detalhes div p span{
  font-weight: 400;
}

.personagem_conteudo__detalhes div.rating img{
  margin: 0 0.2rem;
}

.footerPersonagem{
  margin: 2rem 0;
}

.footerPersonagem h2{
  width: 100%;
  margin-bottom: 2rem;
}

.footerPersonagem ul{
  list-style: none;
  margin: 0; padding: 0;

  display: flex; flex-wrap: wrap;
}

.footerPersonagem ul li{
  box-sizing: border-box;
  padding: 1%;
  width: 50%;
  text-align: center;
}

.footerPersonagem ul li img{
  height: 8rem;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 1024px){
  
  .personagem_conteudo{
    width: 35%;
  }
  .personagem_imagem{
    margin-left: 5%;
    width: 60%;
  }

  .headerPersonagem .container{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .headerPersonagem .searchForm{
    width: 50%;
  }

  .footerPersonagem ul li{
    width: 16.6%;
  }
}
